body {
    font-family: arial;
}

.row2 {
    background-color: orange;
    color: white;
    height: 300px;
    text-align: center;
}

header {
    height: 100px;
    padding-left: 275px;
}

.row3, .row5 {
    background-color: black;
    color: white;
}